<% provide :title, @project.name %>
<h1 class="my-4"><%= @project.name %></h1>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-7 col-centered">
    <h2><%= t "member.member" %></h2>
    <% @member.each do |item| %>
      <%= link_to user_path(item.id) do %>
        <% if is_project_manager? && (item.id != current_user.id) %>
          <div class="btn-group" role="group" aria-label="Delete">
            <button type="button" class="btn <%= manager_hightlight item %>">
              <%= item.name %>
            </button>
            <%= link_to delete_member_project_path(:user_id => item.id),
              method: :delete do %>
              <button type="  button" class="btn btn-danger" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            <% end %>
          </div>
        <% else %>
          <button class="btn <%= manager_hightlight item %>">
            <%= item.name %>
          </button>
        <% end %>
      <% end %>
    <% end %>
    <% if is_project_manager? %>
      <%= form_tag add_member_project_path do  %>
        <%= label_tag :email %>
        <%= email_field_tag :email, nil, class: "form-control" %>
        <%= submit_tag t("member.add_member"), class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>
