<%= form_for [@project, @task, @card] do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.text_field :name, class: "form-control", placeholder: t("card.placeholder_name") %>
    <%= f.text_field :describe, class: "form-control", placeholder: t("card.placeholder_describe") %>
    <%= f.check_box :activated, %> <span><%= t "card.activated" %></span>
  </div>
  <%= f.submit t("card.create"), class: "btn btn-primary btn-block" %>
<% end %>

